#compass {
  display: block;  
}

  .container {
    position: relative;
    margin: 0 auto;
    width: 283px;
    overflow: hidden;
  }
  
  .container img {
    width: auto;
    height: auto;
  }

    div.header
    {
        margin: 4px;
        height: 32px;
        padding-top: 4px;
        padding-right: 7px;
        font-weight: bold;
        vertical-align: middle;
    }

    .compass {}

    .needle {
      position: absolute;
    }



#page form{
	margin:20px auto;
	width:200px;
}

#txName
{
    font-family:ArialBlack;
    font-size:2em;
    font-weight:bold;
}

#datapanel
{
    background-color: #999999;
    color: #FFFFFF;  
}

.ui-btn-inner {
    padding: .6em 15px;
}

.distanceCell
{
    text-align:right;
    font-size:12px;
}


.ui-page {    
    background-image: -webkit-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -moz-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -ms-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -o-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/); 
}

.ui-field-contain,fieldset.ui-field-contain
{
    padding: 0;
    border: 0;
}

