#compass {
    display: block;  
}

.container {
    position: relative;
    margin: 0 auto;
    width: 283px;
    overflow: hidden;
}
  
.container img {
    width: auto;
    height: auto;
}

div.header
{
    margin: 4px;
    height: 32px;
    padding-top: 4px;
    padding-right: 7px;
    font-weight: bold;
    vertical-align: middle;
}

.compass {}

.needle {
    position: absolute;
}



#page form{
	margin:20px auto;
	width:200px;
}

.txListName
{
    color: black;
}

#txName
{
    font-size:1.2em;
    font-weight:bold;
}

.datapanel
{
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FDFDFD),to(#EEE));
    background-image: -webkit-linear-gradient(#FDFDFD,#EEE);
    background-image: -moz-linear-gradient(#FDFDFD,#EEE);
    background-image: -ms-linear-gradient(#FDFDFD,#EEE);
    background-image: -o-linear-gradient(#FDFDFD,#EEE);
    background-image: linear-gradient(#FDFDFD,#EEE);    
   
    border: 1px solid #CCC;

    font-size: 0.9em;
}

.datapanel-top
{
    padding-left: 5px;
    padding-bottom: 6px;
    padding-top: 6px;
    background-color: #DEE3E4;
}
.datapanel-bottom {
    text-align: center;
    vert-align: middle;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0px;   
}

#legalstuff {
    font-size: 0.8em;
}

#compassdatapanel
{
    
}

.datapanel-top .data {

    font-size: 12px;
}


.ui-btn-inner {
    padding: .6em 15px;
}

.distanceCell
{
    text-align:left;
    font-size:12px;
    color:#888;
}

.bearingCell
{
    text-align:center;
    font-size:14px;
    color:#888;
}

.ui-page     
{
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #A5C8DF), color-stop(100%, #0E4F7B));
    background-image: -webkit-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -moz-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -ms-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -o-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/); 
}

.ui-field-contain,fieldset.ui-field-contain
{
    padding: 0;
    border: 0;
}

.ui-content .ui-listview {
    margin-top: 0px;    
}

.ui-li .ui-btn-inner a.ui-link-inherit
{
    padding: 4px 30px 4px 4px;   
}

.ui-icon-alt, .ui-icon-good, .ui-icon-low, .ui-icon-poor {
    background-image: url(images/statusicons.png);
    height: 20px;
    width: 50px;    
}
.ui-icon-good {
    background-position:-0 50%
}
.ui-icon-low {
    background-position:-50px 50%
}
.ui-icon-poor {
    background-position:-100px 50%
}

.ui-pol-horiz {
    background-image: url(images/polhoriz.png);
    height: 20px;
    width: 52px;    
}

.ui-pol-vert {
    background-image: url(images/polvert.png);
    height: 20px;
    width: 52px; 
}

.ui-mobile .ui-dialog {
    background  : none !important;
    width       : 85% !important;
    left        : 25% !important;
    margin-left : -17.5% !important;
    top         : 15% !important;
}​

