#compass {
    display: block;  
}

.container {
    position: relative;
    margin: 0 auto;
    width: 283px;
    overflow: hidden;
}
  
.container img {
    width: auto;
    height: auto;
}

div.header
{
    margin: 4px;
    height: 32px;
    padding-top: 4px;
    padding-right: 7px;
    font-weight: bold;
    vertical-align: middle;
}

.needle {
    position: absolute;
}



#page form{
	margin:20px auto;
	width:200px;
}

.datapanel
{   
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FDFDFD),to(#EEE));
    background-image: -webkit-linear-gradient(#FDFDFD,#EEE);
    background-image: -moz-linear-gradient(#FDFDFD,#EEE);
    background-image: -ms-linear-gradient(#FDFDFD,#EEE);
    background-image: -o-linear-gradient(#FDFDFD,#EEE);
    background-image: linear-gradient(#FDFDFD,#EEE);    
   
    font-size: 0.9em;
}

.datapanel-top, .txlistitem
{
    padding: 8px 6px;
    list-style: none;
    background-color: #EEE;
}
.datapanel-bottom {
    text-align: center;
    vert-align: middle;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0px;   
}

#legalstuff {
    font-size: 0.8em;
}

.data, .distanceCell, .bearingCell
{
    font-size: 12px;
    font-weight: normal;
    color: #888;
    text-shadow: none;
}


.ui-btn-inner {
    padding: .6em 15px;
}


.txListName {
    color: #222;
    font-size: 18px;
    font-weight: normal;
    text-shadow: none;
    text-wrap: none;
}

.distanceCell
{
    text-align:left;   
}

.bearingCell
{
    text-align:center;
}

.ui-page     
{
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #A5C8DF), color-stop(100%, #0E4F7B));
    background-image: -webkit-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -moz-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -ms-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: -o-linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/);
    background-image: linear-gradient( #A5C8DF /*{a-body-background-start}*/, #0E4F7B /*{a-body-background-end}*/); 
}

.ui-field-contain,fieldset.ui-field-contain
{
    padding: 0;
    border: 0;
}

.ui-content .ui-listview {
    margin-top: 0px;    
}

.ui-li .ui-btn-inner a.ui-link-inherit
{
    padding: 4px 30px 4px 4px;   
}

.ui-icon-alt, .ui-icon-good, .ui-icon-low, .ui-icon-poor {
    background-image: url(images/statusicons.png);
    height: 20px;
    width: 50px;    
}
.ui-icon-good {
    background-position:-0 50%
}
.ui-icon-low {
    background-position:-50px 50%
}
.ui-icon-poor {
    background-position:-100px 50%
}

.ui-pol-horiz {
    background-image: url(images/polhoriz.png);
    height: 20px;
    width: 52px;    
}

.ui-pol-vert {
    background-image: url(images/polvert.png);
    height: 20px;
    width: 52px; 
}

.ui-mobile .ui-dialog {
    background  : none !important;
    width       : 85% !important;
    left        : 25% !important;
    margin-left : -17.5% !important;
    top         : 15% !important;
}​


.txlist li{
    border: none;
    list-style: none;
}

.txlist li:last-of-type{
    border: none;     
    list-style: none;
}

.txlistitem {
    border-bottom: 1px #CDCDCD solid;    
}


#menubutton {
    cursor:pointer;
    position: absolute;
    right: 5px; 
    top: 3px; 
    height: 30px;
    padding-top: 5px;
}

#menu, #right {
    display:inline;
}

#menu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.menuitem {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
}

#menu {
    float:right;
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 0;
    
    background-color: #444;
}

#menu ul {
    -webkit-padding-start: 0;
}

#menu li {
    background-color:#444;
    height: 80px;
    border-bottom: 1px solid #888;
    list-style: none;
}​
